/* обнуление браузерных встроенных стилей */
*, *::after {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
}
/* изменение ссылок */
a, a:visited, a:hover { /* посещённые и наведённые*/
    color: inherit; /* цвет наследуется от цвета родителя*/
    text-decoration: none; /* убирает подчёркивания*/
}
a:focus, a:active { /* фокус и активное*/
    outline: none; /* обводка*/
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

p + p { /* соседний обзац*/
    margin-top: 1em;
}

ul {
    list-style: none;
}

img, svg, video {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* Form */
input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
}

input::-ms-clear {
    display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: none;
}
label {
    cursor: pointer;
}
legend {
    display: block;
}